<footer class="rp-footer">
  <div class="container">
    <p>© {{year}} {{profile.name}}</p>
    {{#if profile.website}}<p><a
          href="{{profile.website}}"
        >Website</a></p>{{/if}}
  </div>
</footer>